@if (content) {
  @if (content.template == 'amap') {
    <nz-card [nzTitle]="content.title" [nzExtra]="extra">
      <smart-toolbar *ngIf="content.toolbar" [fields]="content.toolbar" (action)="execute($event)"></smart-toolbar>
      <div class="mapContainer" #mapContainer></div>
    </nz-card>
    <ng-template #extra>
      <button nz-button nzType="link" (click)="loadData()">
        <span nz-icon nzType="reload" [nzSpin]="loading"></span>
        刷新
      </button>
    </ng-template>
  } @else {
    模板类型应该是amap
  }
} @else {
  <nz-spin nzSimple></nz-spin>
}
