@if (content) {
  @switch (content.template) {
    @case ("table") {
      <app-table [app]="app" [page]="page" [content]="content" [params]="params"></app-table>
    }
    @case ("info") {
      <app-info [app]="app" [page]="page" [content]="content" [params]="params"></app-info>
    }
    @case ("form") {
      <app-form [app]="app" [page]="page" [content]="content" [params]="params"></app-form>
    }
    @case ("chart") {
      <app-chart [app]="app" [page]="page" [content]="content" [params]="params"></app-chart>
    }
    @case ("amap") {
      <app-amap [app]="app" [page]="page" [content]="content" [params]="params"></app-amap>
    }
    @case ("markdown") {
      <app-markdown [app]="app" [page]="page" [content]="content" [params]="params"></app-markdown>
    }
    @default {
      未知类型模板
    }
  }
  @if (content.children) {
    <div nz-row>
      @for (p of content.children; track p) {
        <div nz-col [nzSpan]="p.span" [nzMd]="p.span" nzXs="24" nzSm="24">
          <app-page [page]="p.id" [content]="p" [params]="childrenParams(p)"></app-page>
        </div>
      }
    </div>
  }
} @else {
  <nz-spin nzSimple></nz-spin>
}
