<nz-upload [nzCustomRequest]="onUploadRequest"
           [nzShowUploadList]="true"
           nzFileType="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet">
  <button nz-button>
    上传Excel文件
  </button>
</nz-upload>


<nz-table #table nzSize="small" [nzData]="datum">
  <thead>
  <tr>
    <th *ngFor="let item of datum[0]">
      {{ item }}
    </th>
    <th>上传</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of table.data; let i=index">
    <td *ngFor="let d of data; let j=index">{{ d }}</td>
  </tr>
  </tbody>
</nz-table>
